@import "global";

body {
  background: url(../assets/one.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  padding: 10px;
  h1 {
    text-align: center;
    color: white;
    font-size: 1em;
    letter-spacing: 5px;
    font-size: 2em;
    text-transform: uppercase;
  }

  &__main {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
}

.content__uploader,
.content__display {
  padding: 10px;
  width: 100%;
}

.content__uploader {
  padding: 10px;
  width: 100%;
  form {
    box-shadow: 5px 5px 15px #001b29, -5px -5px 15px #00293d;
    border-radius: 30px;
    justify-content: space-between;
    padding: 20px;
    display: flex;

    input {
      // margin-bottom: 1.5em;
      width: 250px;
      padding: 15px;
      border-radius: 3px;
      border: 1px solid #6c7888;
      outline: none;
      color: whitesmoke;
      background-color: transparent;
      font-size: 12px;
    }
  }
}
button {
  width: 160px;
  padding: 12px 15px;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    #cc2b5e,
    #d1305d,
    #dc3e5b,
    #ea505b,
    #f56561,
    #fa7268
  );
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: whitesmoke;
  letter-spacing: 1px;
}
.content__display {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .round,
  .square {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    img {
      border: 2px solid white;
    }
  }

  .round {
    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: contain;
    }
  }
  .square {
    img {
      width: 200px;
      height: 200px;
      object-fit: contain;
    }
  }

  .imgProperties {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 16px;
      color: whitesmoke;
    }
    h2 {
      color: #6c7888;
      font-size: 14px;
    }
  }
}

.image__holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 260px;
}
